# Dependencies
node_modules
.pnpm-store

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist
build
.next
.expo
web-build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turbo
.turbo

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
